CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
build/
.vscode/
.DS_Store
_build/
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake
Doxyfile
third-party/googletest/googletest/generated/
third-party/yaml-cpp/yaml-cpp-config-version.cmake
third-party/yaml-cpp/yaml-cpp-config.cmake
third-party/yaml-cpp/yaml-cpp-targets.cmake
yaml-cpp.pc